// Body Style (incl header)
html {
	background-color:#F8F8F5;
}
body {
	font-size:16px;
}
// Content Styles
main {
	.container{
	padding:100px 0;
	}
	h4 {
		margin-top: -3px;
    margin-bottom: 27px;
		font-family: helvetica;
		color: #4A4A4A;
	}
}
